<%- include('partials/_header') %> %>

  <div class="text-center">
    <h1>FACTURAS</h1>
    <button><a href="/" >Inicio</a></button>
    <button><a href="/showbills" >Ver facturas</a></button>

    <div class="d-lg-flex justify-content-center mt-lg-4">
      <table class="">

        <tr class="bg-danger text-white">
          <th>Apartamento</th>
          <th>Fecha Lectura Actual</th>
          <th>Lectura Actual</th>
          <th>Valor Factura</th>
        </tr>

        <% for ( i = 0; i < bills.length; ++ i) { %>
        <tr>
          <td><%= bills[i].propiedad %></td>
          <td><%= bills[i].fechaLectura %></td>
          <td><%= bills[i].lectura %></td>
          <td><%= '$ ' + bills[i].valorFactura.toLocaleString() %></td>

        </tr>
        <% } %>
      </table>
    </div>

  </div>
</body>
</html>