<%- include('partials/_header') %> %>

  <div class="text-center">
    <h1>FACTURAS</h1>
    <h2><%= bills[0].propiedad %></h2> 
    <button><a href="/" >Inicio</a></button>
    <button><a href="/registro" >Registrar facturas</a></button>

    <div class="d-lg-flex justify-content-center mt-lg-4">

      <table class="table table-hover table-striped">

        <tr class="bg-danger text-white">
          <th>Fecha Lectura Actual</th>
          <th>Lectura Actual</th>
          <th>Fecha Lectura Anterior</th>
          <th>Lectura Anterior</th>
          <th>Valor Factura</th>
          <th>Acción</th>

        </tr>

        <tr>
          <form action="/new-bill" method="post">
          <td><input type="date" name="fechaLecturaActual" required></input></td>
          <td><input type="number" name="lecturaActual" required></input></td>
          <td><input type="date" name="fechaLecturaAnterior" required></input></td>
          <td><input type="number" name="lecturaAnterior" required></input></td>
          <td><input type="number" name="valorFactura" required></input></td>
          <input class="d-none" name="propiedad" value="<%=bills[0].propiedad %>" ></input>
          <td><button type="submit">+</button></td>
        </tr>

        <% for ( i = 0; i < bills.length; ++ i) { %>
        <tr>
          <td><%= bills[i].fechaLecturaActual %></td>
          <td><%= bills[i].lecturaActual %></td>
          <td><%= bills[i].fechaLecturaAnterior %></td>
          <td><%= bills[i].lecturaAnterior %></td>
          <td><%= '$ ' + bills[i].valorFactura.toLocaleString() %></td>
          <form action="/delete-Bill?idBill=<%=bills[i].id %>-<%=bills[i].propiedad%>" method="post">
            <td><button> - </button></td> 
            <td class="d-none"><input value="<%=bills[i].id %>" class="d-none"></input></td>

          </form>
        </tr>
        <% } %>
      </table>
      
    </div>
           
  </div>

</body>
</html>