<%- include('partials/_header') %>

<div class="text-center">

  <h1>FACTURAS</h1>
  <h2 id="propiedad" data-valor="<%= bills[0].propiedad %>"><%= bills[0].propiedad %></h2> 
  <button><a href="/" >Inicio</a></button>
  <button><a href="/registro" >Registrar facturas</a></button>

</div>

<div class="col-lg-5 col-12">
 
  <canvas id="graphConsumo" width="400px" height="200px"></canvas>

</div>

<div class="d-lg-none d-flex justify-content-center">

  <form action="/new-bill" method="post">

    <div class="d-block">
      <label for="fechaLecturaActual">Fecha Lectura Actual</label>
      <input type="date" name="fechaLecturaActual" required></input>
    </div>

    <div class="d-block">
      <label for="lecturaActual">Lectura Actual</label>
      <input type="number" name="lecturaActual" required></input>
    </div>

    <div class="d-block">
      <label for="fechaLecturaAnterior">Fecha Lectura Anterior</label>
      <input type="date" name="fechaLecturaAnterior" required></input>
    </div>

    <div class="d-block">
      <label for="lecturaAnterior">Lectura Anterior</label>
      <input type="number" name="lecturaAnterior" required></input>
    </div>

    <div class="d-block">
      <label for="valorFactura">Valor Factura</label>
      <input type="number" name="valorFactura" required></input>
    </div>

    <input class="d-none" name="propiedad" value="<%=bills[0].propiedad %>" ></input>
    <button type="submit">Añadir Factura</button>

</div>

 
<div class="col-lg-4">

  <table class="table table-hover table-striped d-lg-flex d-none">

    <tr class="bg-dark text-white">
      <th>Fecha Lectura Actual</th>
      <th>Lectura Actual</th>
      <th>Fecha Lectura Anterior</th>
      <th>Lectura Anterior</th>
      <th>Valor Factura</th>
      <th>Acción</th>

    </tr>

    <tr>
      <form action="/new-bill" method="post">
      <td><input type="date" name="fechaLecturaActual" required></input></td>
      <td><input type="number" name="lecturaActual" required></input></td>
      <td><input type="date" name="fechaLecturaAnterior" required></input></td>
      <td><input type="number" name="lecturaAnterior" required></input></td>
      <td><input type="number" name="valorFactura" required></input></td>
      <input class="d-none" name="propiedad" value="<%=bills[0].propiedad %>" ></input>
      <td><button type="submit">+</button></td>
    </tr>

    <% for ( i = 0; i < bills.length; ++ i) { %>
    <tr>
      <td><%= bills[i].fechaLecturaActual %></td>
      <td><%= bills[i].lecturaActual %></td>
      <td><%= bills[i].fechaLecturaAnterior %></td>
      <td><%= bills[i].lecturaAnterior %></td>
      <td><%= '$ ' + bills[i].valorFactura.toLocaleString() %></td>
      
      <form action="/delete-Bill?idBill=<%=bills[i].id %>-<%=bills[i].propiedad%>" method="post">
        <td><button> - </button></td> 
        <td class="d-none"><input value="<%=bills[i].id %>" class="d-none"></input></td>

      </form>
    </tr>
    <% } %>

  </table>
  
  <div id="bills" body="<%=bills %>" ></div>>

  <!-- VAMOS A INTENTAR ALGO DISTINTO -->

  <div id="dataLong" data-valor="<%=bills.length %>"></div>

  <!-- AQUI VAN TODOS LOS CONSUMOS -->

  <% for (x = 0; x < bills.length ; ++x ) { %>
    <% var consumoDelMes = bills[x].consumo %>
    <% var datoId = 'consumo' + x %>
    <div id="<%=datoId %>" data-valor="<%=consumoDelMes %>"></div>
    <% } %>

</div>

  <script src="chart.js" ></script>

</body>

</html>