<%- include('partials/_header') %>

<div class="text-center">

  <h1>FACTURAS</h1>
  <h2 id="propiedad" data-valor="<%= bills[0].propiedad %>"><%= bills[0].propiedad %></h2> 
  <button><a href="/" >Inicio</a></button>
  <button><a href="/registro" >Registrar facturas</a></button>

</div>

<!-- GRAFICA DE CONSUMO -->
<div class="col-lg-5 col-12">
 
  <canvas id="graphConsumo" width="400px" height="200px"></canvas>

</div>

 
<div class="col-lg-8">

  <table class="table table-hover table-striped d-lg-flex d-none">

    <tr class="bg-dark text-white">
      <th>Fecha Lectura Actual</th>
      <th>Lectura Actual</th>
      <th>Fecha Lectura Anterior</th>
      <th>Lectura Anterior</th>
      <th>Consumo</th>
      <th>Valor Factura</th>
      <th>Acción</th>

    </tr>

    <% for ( i = 0; i < bills.length; ++ i) { %>
    <tr>
      <td><%= bills[i].fechaLecturaActual %></td>
      <td><%= bills[i].lecturaActual %></td>
      <td><%= bills[i].fechaLecturaAnterior %></td>
      <td><%= bills[i].lecturaAnterior %></td>
      <td><%= bills[i].consumo %></td>
      <td><%= '$ ' + bills[i].valorFactura.toLocaleString() %></td>
      
      <form action="/delete-bill?idBill=<%=bills[i].id%>-<%=bills[i].propiedad%>" method="post">
        <td class="d-none" ><input type="hidden" value="<%=bills[i].id %>"></input></td>
        <td><button onclick="" type="submit" class="btn btn-info text-white" >-</button></td>
      </form>  
      
    </tr>
    <% } %>
    
  </table>


  
  <div id="bills" body="<%=bills %>" ></div>>

  <!-- VAMOS A INTENTAR ALGO DISTINTO -->

  <div id="dataLong" data-valor="<%=bills.length %>"></div>

  <!-- AQUI VAN TODOS LOS CONSUMOS -->

  <% for (x = 0; x < bills.length ; ++x ) { %>
    <% var consumoDelMes = bills[x].consumo %>
    <% var datoId = 'consumo' + x %>
    <div id="<%=datoId %>" data-valor="<%=consumoDelMes %>"></div>
  <% } %>

  <% for (x = 0; x < bills.length ; ++x ) { %>
    <% var mesFactura = bills[x].fechaLecturaActual.split('-')[1] %>
    <div id="<%=mesFactura %>" data-valor="<%=mesFactura %>"></div>
  <% } %>

</div>

  <script src="chart.js" ></script>

</body>

</html>