<%- include('partials/_header') %>

  <!-- ENCABEZADO -->
  <div class="text-center">

    <p class="display-4">JAUSSERS CRM</p>
    <p class="display-6"><%= propiedad %></p>

    <button class="btn btn-info"><a class="text-white text-decoration-none" href="/" >Inicio</a></button>
    <button class="btn btn-info"><a class="text-white text-decoration-none" href="/new-booking" >Añadir Gasto</a></button>

  </div>

  <!-- FORMULARIO REGISTRO DE GASTOS -->
  <form action="/newExpense" method="post" class="card text-center col-lg-5 p-5 mt-4">

    <div class="d-block">
      <label for="fecha">Fecha</label>
      <input name="fecha" type="date" required>
    </div>
  
    <div class="d-block">
      <label for="propiedad">Apartamento</label>
      <select name="propiedad" required>
        <option value="409">Ciudad Jardin</option>
        <option value="306A">Granadillo</option>
        <option value="501A">La Campiña</option>
        <option value="510">Mirador 510</option>
        <option value="702">Mirador 702</option>
      </select>
    </div>

    <div class="d-block">
      <label for="tipoGasto">Tipo de Gasto</label>
      <select name="tipoGasto" required>
        <option value="Renta">Renta</option>
        <option value="Servicios">Servicios</option>
        <option value="Mantenimiento">Mantenimiento</option>
        <option value="Aseo">Aseo</option>
        <option value="Impuesto">Impuesto</option>
      </select>
    </div>

    <div class="d-block">
      <label for="valorGasto">Valor</label>
      <input name="valorGasto" type="number" required>
    </div>

    <div class="d-block">
      <label for="descripcion">Descripción</label>
      <input name="descripcion" type="text" required>
    </div>

    <button type="submit" class="btn btn-info text-white">Añadir Gasto</button>

  </form>

  <!-- GASTOS POR MES -->
  <div>
    <ul class="card col-lg-3 p-3 list-group list-group-flush"> 
      <li class="list-group-item" >Junio= $ <%= gastosPorMes.junio.toLocaleString() %></li>
      <li class="list-group-item" >Mayo= $ <%= gastosPorMes.mayo.toLocaleString() %></li>
      <li class="list-group-item" >Abril= $ <%= gastosPorMes.abril.toLocaleString() %></li>
      <li class="list-group-item" >Marzo= $ <%= gastosPorMes.marzo.toLocaleString() %></li>
      <li class="list-group-item" >Febrero= $ <%= gastosPorMes.febrero.toLocaleString() %></li>
      <li class="list-group-item" >Enero= $ <%= gastosPorMes.enero.toLocaleString() %></li>
    </ul>
  </div>

  <!-- BASE DE DATOS DE GASTOS -->
  <table class="table table-dark table-hover mt-3">
    <tr>
      <th>Fecha</th>
      <th>Propiedad</th>
      <th>Tipo de Gasto</th>
      <th>Valor</th>
      <th>Descripción</th>
    </tr>

    <% for (i = 0; i < gastos.length; ++i) { %>
    <tr>
      <td><%=gastos[i].fecha %></td>
      <td><%=gastos[i].propiedad %></td>
      <td><%=gastos[i].tipoGasto %></td>
      <td>$ <%=gastos[i].valorGasto.toLocaleString() %></td>
      <td><%=gastos[i].descripcion %></td>


      <% } %>
    </tr>
  </table>

</body>
</html>