<%- include('partials/_header') %>

  <div class="text-center">

    <p class="display-4">JAUSSERS CRM</p>
    <p class="display-6"><%= propiedad %></p>
    <button><a href="/" >Inicio</a></button>

    <button><a href="/new-booking" >Nueva Reserva</a></button>

  </div>

  <div id="encabezadoData" class="d-flex justify-content-center mt-lg-4 mb-lg-4">

    <div id="formulario" class="d-flex justify-content-center">
  
      <form action="/dataReserva" method="post">
    
        <div class="d-block">
          <label for="apto">Apartamento</label>
          <select name="apto">Apartamento
            <option value="jaussers">Todo Jaussers</option>
            <option value="409">Ciudad Jardin</option>
            <option value="306A">Granadillo</option>
            <option value="501A">La Campiña</option>
            <option value="510">Mirador 510</option>
            <option value="702">Mirador 702</option>
          </select>
        </div>
    
        <div class="d-block">
          <label for="inicio" >Fecha de Inicio</label>
          <input name="inicio" type="date">
        </div>
    
        <div class="d-block">
          <label for="final">Fecha Final</label>
          <input name="final" type="date">
        </div>
    
        <button type="submit" >TRABAJAR</button>
      </form>
  
    </div>
  
    <div class="d-flex gap-5 text-center col-lg-7">
      
      <!-- INGRESOS TOTALES DEL ANO -->
      <div id="dataIngresos" class="col-4"> 
        <h3>INGRESOS 2024</h3>
        <% let sumaReservas = 0 %>
        <% for (a = 0; a < reservas.length; ++a) { %>
          <% sumaReservas = sumaReservas + reservas[a].totalReserva %>
        <% } %>
        <h3>$ <%= sumaReservas.toLocaleString() %></h3>
      </div>
      
    </div>
    

  </div>
 
  <!-- CODIGO PARA DATA DE MESES -->
  <div>
    <% let enero = 0 %>
    <% let febrero = 0 %>
    <% let marzo = 0 %>
    <% let abril = 0 %>
    <% let mayo = 0 %>
    <% let junio = 0 %>
    <% let julio = 0 %>

    
    <% for (z = 0; z < reservas.length; ++z) { %>
      <% let mes = reservas[z].checkIn.split('-')[1] %> <!-- Individualizamos el mes del check-in -->
      <% if (mes == '06') { %>
        <% junio = junio + reservas[z].totalReserva %>
        <% } else if (mes == '05') { %>
          <% mayo = mayo + reservas[z].totalReserva %>
        <% } else if (mes == '04') { %>
          <% abril = abril + reservas[z].totalReserva %>
        <% } else if (mes == '03') { %>
          <% marzo = marzo + reservas[z].totalReserva  %>
        <% } else if (mes == '02') { %>
          <% febrero = febrero + reservas[z].totalReserva %>
        <% } else if (mes == '01') { %>
          <% enero = enero + reservas[z].totalReserva } %>
    <% } %>        
  </div>
  
  <div id="dataMes" class="d-lg-flex">

    <!-- INGRESOS POR MES --> 
    <div class="card col-3">
      <h3>Ingresos por Mes</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Junio = $<%= junio.toLocaleString() %></li>
        <li class="list-group-item">Mayo = $<%= mayo.toLocaleString() %></li>
        <li class="list-group-item">Abril = $<%= abril.toLocaleString() %></li>
        <li class="list-group-item">Marzo = $<%= marzo.toLocaleString() %></li>
        <li class="list-group-item">Febrero = $<%= febrero.toLocaleString() %></li>
        <li class="list-group-item">Enero = $<%= enero.toLocaleString() %></li>
      </ul>
    </div>
  
    <!-- NOCHES POR APTO POR MES --> 
    <div class="card col-3">
  
      <h3>Noches por Mes</h3>
      <ul class="list-group list-group-flush">
        <% let noches2024 = nochesPorMeses.enero + nochesPorMeses.febrero + nochesPorMeses.marzo + nochesPorMeses.abril + nochesPorMeses.mayo + nochesPorMeses.junio %>
        <li class="list-group-item">2024 = <%= noches2024  %></li>
        <li class="list-group-item">Junio = <%= nochesPorMeses.junio  %></li>
        <li class="list-group-item">Mayo = <%= nochesPorMeses.mayo  %></li>
        <li class="list-group-item">Abril =  <%= nochesPorMeses.abril  %></li>
        <li class="list-group-item">Marzo = <%= nochesPorMeses.marzo  %> </li>
        <li class="list-group-item">Febrero = <%= nochesPorMeses.febrero  %></li>
        <li class="list-group-item">Enero = <%= nochesPorMeses.enero  %> </li>
      </ul>
    </div>

    <div class="card col-lg-3">

      <h3>% Ocupación</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Junio = <%= porcOcup.junio %> %</li>
        <li class="list-group-item">Mayo = <%= porcOcup.mayo %> %</li>
        <li class="list-group-item">Abril = <%= porcOcup.abril %> %</li>
        <li class="list-group-item">Marzo = <%= porcOcup.marzo %> %</li>
        <li class="list-group-item">Febrero = <%= porcOcup.febrero %> %</li>
        <li class="list-group-item">Enero = <%= porcOcup.enero %> %</li>
      </ul>

    </div>
  </div>
  

  <!-- TABLA CON INFO DE RESERVAS -->
  <div class="d-flex justify-content-center mt-4">

  <table class="table table-dark table-hover">
    <tr class="text-center">
      <th>Apto</th>
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Huésped</th>
      <th>Pax</th>
      <th>Noches</th>
    </tr>
    
    <% for (x = 0; x < reservas.length; ++x) { %>

    <tr class="text-center">
        <td><%= reservas[x].propiedad %></td>
        <td><%= reservas[x].checkIn %></td>
        <td><%= reservas[x].checkOut %></td>
        <td><%= reservas[x].nombreHuesped  %></td>
        <td><%= reservas[x].pax  %></td>

        <% var fechaChO = reservas[x].checkOut %>
        <% var dateChO = new Date(fechaChO) %>
        <% var fechaChI = reservas[x].checkIn %>
        <% var dateChI = new Date(fechaChI) %>
        <% var dias = Math.abs((dateChO.getTime() - dateChI.getTime()) / ( 1000 * 60 * 60 * 24))%>

        <td><%= dias %></td>

    </tr>
    <% } %>
  </table>

</div>

  
</body>
</html>